@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&family=Gugi&display=swap');
/* 구리체+a1고딕 사용하는 폰트가 늘어도 소스는 1줄로 재구성된다 */


/* @font-face를 이용하여 폰트를 적용하기 보단, 웹폰트를 이용할 것을 추천한다. @font-face를 통해 개인 서버에 업로드를 한다고 하면 저작권 문제부터 해결하고 접근할 것.
서버의 권한 문제에서 접근이 안될 수 있는 부분도 있으므로 비추  */

@font-face {
    /* font-family: KoPubBatangMedium; */
    font-family: KBatangM;
    /* 폰트를 선언하는 항목이기때문에 네이밍은 자율 */
    src: url('font/KoPubBatangMedium.woff') format('woff');
}
@font-face {
    font-family: KoPubDotumMedium;
    src: url('font/KoPubDotumMedium.woff') format('woff');
}

p {
    font-size: 2em;
    font-family: 'Gothic A1', sans-serif;
}
.gt {
    /* font-family: 'KoPubBatangMedium'; */
    /* font-family: 'KBatangM'; */
    /* font-family: 'KoPubDotumMedium'; */
    font-family: 'Gugi', cursive;
}