@charset "utf-8";

body {
    margin-left: 100px;
}
p {
    width: 500px;
    padding: 15px;
    background: #78a;
    border: 5px solid rgba(0, 0, 0, 0.5);
    font: 21px Times;
}
.t1 {
    transform: translate(30px, 20px );
    /* transform: translate(x값,y값); x,y 이동, 음수가능
        transform: translateX(30px); transform: translateY(20px); */
    background: #89b;
}
.t2 {
    transform: rotate(-60deg);
    /* transform: rotate(각도deg);
        음수가능, 360도 기준, 평면적인 회전 */
    background: #9ac;
}
.t3 {
    transform: scale(0.5, 3.3);
    /* transform: scale(1.5); 수치를 한번만 쓰면 정비율*/
    /* transform: scale(x값, y값); 크기조정
        transform: scaleX(수치); transform: scaleY(수치);
        0은 소멸, 1을 본크기, 소수점 가능, 배율로 작성, 안쪽 자식들도 같이 찌그러짐 */
    background: #abd;
}
.t4 {
    transform: skew(20deg, -30deg);
    /* transform: skewX(10deg); */
    /* transform: skewY(10deg); */
    /* transform: skew(x값, y값); 비틀기, 수치 하나만 쓰면 X값이다. 원근감에 대한 사전지식이 필요하다.
        
    transform: skewX(수치); transform: skewY(수치);
    deg로 입력, 음수가능, 안쪽 자식들도 같이 찌그러짐 */
    background: #bce;
}
.t5 {
    transform: matrix(1, -0.1, 0, 1, 0, 0);
    /* transform: matrix(scaleX, skewY, skewX, scaleY, translateX, translateY); */
    /* 순서대로 입력해야하며, 변동값이 없을 땐 1이나 0을 입력한다 */
    background: #cdf;
}