@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px;
}
h2 {
    padding: 0 0 20px;
    text-align: center;
}
.gmother {
    text-align: justify;
    padding: 20px;
    background: #f5f3eb;
    column-count: 3;
    column-gap: 80px;
    column-rule: 1px dashed chocolate;
    word-break: keep-all;
}
.gmother h2 {
    column-span: all;
}