@charset "utf-8";

ul {
    padding-bottom: 30px;
    background-image: url(/02style/img/bg_linepttn.png);
    background-repeat: repeat-x;
    background-position: bottom;
}
li {
    list-style-type: none;
    padding: 0 20px;
    background-image: url(/02style/img/bg_bullet.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}
/* ul:nth-child(2) li { 
    padding: 10px 30px;
    background-image: url(/02style/img/bg_ar.png);
} */
/* :nth-child(n)의 가상요소 선택자는 종류와는 별개로 자식의 순서대로 n의 숫자를 센다. */

ul:nth-of-type(1) li {
    padding: 10px 30px;
    background-image: url(/02style/img/bg_ar.png);
}
/* :nth-of-type(n)의 가상요소 종류가 같고 연속나열 된 상태에서 순서대로 n의 숫자를 센다. */