@charset "utf-8";

p {
    width: 200px;
    text-align: center;
    border: 1px solid #000;
}
.breaking1 {
    word-break: normal;
}
/* 인라인에서 공백이 있는경우 부모의 가로값에 따라 줄바꿈
공백이 없으면 뚫고 나감, 기본값 */

.breaking2 {
    word-break: break-all;
}
/* 인라인에서 공백이 있거나 없거나 부모의 가로값에 따라 줄바꿈*/

.breaking3 {
    word-break: keep-all;
    word-wrap: break-word;
}
/* 공백이 있는 인라인에서 부모의 가로값에 따라 공백기준으로 줄바꿈*/
/* 공백이 없는 인라인이 포함되는 경우, 가독성의 완성을 위하여 word-wrap: break-word; 도 추가해준다 */dddd