@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
    margin: 5px;
}
.lnb li a {
    display: block;
    padding-left: 30px;
    /* 안쪽 여백을 확보해서 backgroun-image를 배치하고, 그 다음에 텍스트가 와야하므로  */
    text-decoration: none;
    font: 25px Times;
    color: #000;
    background: url(/02style/img/bg_sprite.png) no-repeat;
    background-size: 26px 176px;
    /* 원래 이미지는 큰데, 줄여서 사용 */
}
.lnb li:nth-child(1) a {
    background-position: 0 1px;
    /* background-position: x위치값 y위치값; */
    /* y위치값은 음수가 되면 이미지를 위로 올리는 형식 */
}
.lnb li:nth-child(2) a {
    background-position: 0 -50px;
}
/* .lnb li:nth-child(3) a {
    background-position: 0 -100px;
}
.lnb li:nth-child(4) a {
    background-position: 0 -150px;
} */