@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
h3 {
    /* min-width: 650px;
    text-align: center;
    padding: 10px 70px 10px;
    border-bottom: 1px dotted #aaa;
    color: #357; */

    min-width: 650px;
    text-align: center;
    padding: 10px 70px 10px;
    border-bottom: 1px dotted #aaa;
    color: #357;


}
.toomany {
    /* width: 55%;
    min-width: 650px;
    margin: 20px auto;
    text-align: justify; */

    width: 55%;
    min-width: 650px;
    margin: 20px auto;
    text-align: justify;


}
.lotus {
    /* float: right;
    width: 250px;
    padding: 10px;
    border: 1px solid #aaa;
    margin: 0 0 0 20px; */

    float: right;
    width: 250px;
    padding: 10px;
    border: 1px solid #aaa;
    margin: 0 0 0 20px;


}
.lotus img{ width: 100%; }
.lotus p { font-size: 10px; }