@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    display: grid;
    grid-template-columns: 40% 60%;
    /* column이 분할 되는 지분을 기재한다 */
    grid-template-rows: 70px 350px 150px;
    /* 각 row가 차지할 높이를 설정한다 */
    /* 자식이 부모를 넘칠때, 다른 display의 경우엔 온전히 자식들끼리 겹쳐보였지만, grid는 후순위에 오는 객체의 z-index가 높아져 가려져보이게 된다. */
}
.wrap > div {
    margin: 1px;
    padding: 10px;
    font-size: 3vw;
    /* 기본 덩어리 설정, grid옵션에 의해 펴진다 */
}
.grid1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: lightgreen;
}
.grid2 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: lightpink;
}
.grid3 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: lightblue;
}
/* 같은 행에서 분할이 이루어 진다면 분할지점 공유를 해야한다 */
.grid4 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: bisque;
}