@charset "utf-8";

body {
    margin: 20px;
}
div {
    width: 600px;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;
    border: 10px solid transparent;
    /* 10px두께의 실선을 투명으로 선언 */
}
/* border에 색상이 아닌 이미지를 입힐 수 있다. */
/* 이미지의 반복 조각을 계산하여 반복하거나 늘리는 형식 */

/* border-image:
     [url(경로)]
     [이미지반복의 최소단위 조각의 수치(단위쓰지않음, 정수)]
     [이미지 처리방식(round/repeat/stretch)]; */
/* 선언 기본값 */
.round {
    border-image: url(border.png) 9 round;
    -webkit-border-image: url(border.png) 9 round;
    /* border-image: url(/02style/img/border.png) 27 round;
    -webkit-border-image: url(/02style/img/border.png) 27 round; */
    
    /* 이미지의 사이즈는  81px*81px, 3등분이 될 수있는 수치사용  */
    /* 조각의 수치를 입력하는 부분에서 조각사이즈와 상이하게 적는 경우, background영역을 침범한다 */
}
.repeat {
    border-image: url(border.png) 27 repeat;
    -webkit-border-image: url(border.png) 27 repeat;
}
.stretch {
    border-image: url(border.png) 27 stretch;
    -webkit-border-image: url(border.png) 27 stretch;
}