@charset "utf-8";

.shadow1 {
    font: 30px "Arial Black";
    text-shadow: 4px 4px rgba(100, 100, 0, 0.6);
    /* text-shadow: x값 y값 blur(생략가능) 색상; */
}
.shadow2 {
    font: 30px "Arial Black";
    color: rgb(2, 49, 95);
    text-shadow:
        2px 2px #246,
        2.5px 2.5px #357,
        3px 3px #468,
        3.5px 3.5px #579,
        4px 4px #68a,
        4.5px 4.5px #79b,
        5px 5px #8ac;
    /* text-shadow는 ,기준으로 여러장을 깔수 있다 */
}
p {
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

