@charset "utf-8";

textarea {
    border: 1px solid #000;
}
/* textarea는 resizing이 원래 되는게 기본옵션, 
resize속성을 통해 조절을 막는다 */
.memo2 {
    resize: none;
}
p {
    width: 300px;
    height: 50px;
    padding: 20px;
    border: 1px solid #000;
    /* resize: horizontal; */
    /* 가로방향 리사이징 가능 */
    /* resize: vertical; */
    /* 세로방향 리사이징 가능 */
    resize: both;
    /* 양방향 리사이징 가능 */
    overflow: auto;
    /* overflow속성을 함께 써야함
    (속성값의 visible은 사용 못함), 
    textarea 태그는 해당기능이 기본으로 탑재되어있음 */
    /* ie에서는 해당기능을 사용할 수 없다 */
}