@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
/* 모든객체(all)에 padding/margin의 수치를 0으로 초기화 한다 */
body {
    background: url(/02style/img/bg_grid.png);
}
p {
    background: rgba(0, 100, 200, 0.3);
    /* margin: 0 20px; */
    /* 객체의 가로값이 설정 안된 상태에서, 좌우 마진값을 주면 콘텐츠 영역을 줄여 마진을 확보하여 100%를 만든다. */
    /* 가로값을 지정하고, 마진을 좌우에 입력된 상태가 부모의 사이즈를 넘어서면 뚫고 나감 */
}
/* p:nth-child(3) { margin: 100px 0; } */
.art2 {
    /* width: 500px;  */
    width: 80%;
    /* margin: 0 auto; */
    /* margin: auto; */
    /* 마진의 auto값은 좌/우에만 적용된다. top/bottom엔 적용안되고 0으로 인식한다 */
}
.inner {
    margin: 0 auto;
}