@charset "utf-8";

p {
    color: red;
}
#ctxt {
    color: blue;
}
#ctxt {
    color: green;
}
/* 아이디는 고유값이며 #아이디명 으로 기술할 수 있다. html에서는 중복선언이 안되지만, css에서는 갱신의 개념으로 접근하기 때문에 중복선언이 가능하다.  */
/* 셀렉터는 네이밍규칙에 반하지 않도록 정해야 한다. */

/* ui디자인만을 위한 스타일 선언을 할 때, id값 사용을 지양하자. 협업시 개발파트랑 불편해 질 수 있음. */