@charset "utf-8";

.ani_box {
    position: relative;
    width: 100px;
    height: 100px;
    background: url(/02style/img/bg_animation.png) center no-repeat;
}
.flower {
    position: absolute;
    left: 10px;
    top: 9px;
    /* transform: translate(10px, 9px); */
    /* translate()는 이동에 관련된 속성이고, 최초 객체가 겹쳐있는 상태라면 위치의 자유값을 갖는다. 하지만 최초에 물리적으로 나열되어있는 상태라면, 그 상태에서 이동을 한다. */
}
.flower1 {
    animation: myani1 3s infinite;
}
.flower2 {
    animation: myani2 3s infinite;
}
@keyframes myani1 {
    0% {
        /* transform: scale(0.3, 0.3) translate(10px, 9px); */
        transform: scale(0.3, 0.3);
        opacity: 0.5;
    }
    100% {
        /* transform: scale(1.2, 1.2) translate(10px, 9px); */
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@keyframes myani2 {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 1;
    }
    100% {
        transform: scale(1.4, 1.4);
        opacity: 0;
    }
}