@charset "utf-8";

.clear:after {
    content: "";
    display: block;
    clear: both;
}
/* float을 자식으로 가지고 있으면 부모는 높이를 인지하지 못한다. */

/* overflow: auto;를 통해서 인식해보자 --> 불필요한 스크롤바가 생겨서 디자인에 방해를 입혀서 패스! */

/* html에 clear: both;성향을 가지고 있는 요소를 추가하는 것이 아니라, css의 가상요소를 통해서 float을 끊어주는 요소를 만들어내서 부모가 높이를 인식코저 함이 최초 목적이다. */

.clearfix::after {
    content: "";
    /* 가상요소의 특징은 무조건 content를 입력해야만 사용할수있다. 불필요한 텍스트들이 들어가면 디자인을 방해해서, 밸류값을 비워둔다. */
    clear: both;
    display: table;
    /* display: block/table/flex; 등등 블록 요소로 선언되는 밸류값은 모두가능 */
    /* 인라인만 아니면 됨 */
}
/* 이렇게 선언해 두고, float을 자식으로 가지고 있는 부모가 있을때마다 중복클래스로 선언해준다.  */

.mydrink {
    max-width: 800px;
    padding: 30px;
    border: 5px solid #bbb;
    background: #eee;
}
h1 {
    margin: 0 0 10px;
    text-align: center;
}
p {
    box-sizing: border-box;
    padding: 15px 25px;
    text-align: justify;
    background: rgba(255, 255, 255, 0.8);
}
.greentea {
    float: left;
    width: 47%;
    border: 3px solid green;
}
.coffee {
    float: right;
    width: 47%;
    border: 3px solid #a50;
}
/* .mydrink::after {
    content: "";
    display: block;
    clear: both;
} */
/* 해당 클래스에 직접적으로 ::after를 선언할 수 있으나, 매번 레이아웃 요소 클래스마다 반복 입력 해야하는 번거로움이 있다. */