@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    color: #000;
}
.box_inner {
    width: 700px;
    margin: 0 auto;
}
body {
    background: #f1f1f1;
    font-size: 13px;
    color: #333;
}
header {
    background: #357;
}
h1 {
    font-size: 25px;
    color: #cc0;
    padding: 10px;
}
h1:first-letter {
    font-size: 1.5em;
}
h1 strong {
    color: #ffd;
}
h1 em {
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
}
#container {
    position: relative;
}
.gnb {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    padding: 20px;
}
.gnb li {
    padding: 5px 0;
}
.content {
    position: relative;
    left: 200px;
    width: 500px;
}
h2 {
    padding: 10px 20px;
    color: crimson;
}
p {
    padding: 20px;
    text-align: justify;
}
footer {
    background: #aaa;
}