@charset "utf-8";

body { 
    background: url(/02style/img/bg_grid.gif);
    font: 16px "Malgun Gothic";
}
p {
    background: rgba(200,200,0,0.5);
    width: 600px;
    /* padding: 50px 70px; */

    /* padding: 50px; */
    /* 안쪽여백 4방향(top, right, bottom, left)에 50px의 공간 삽입 */
    
    /* padding: 50px 20px; */
    /* top/bottom에 50px, right/left에 20px */
    
    /* padding: 50px 20px 10px; */
    /* top에 50px, right/left에 20px, bottom에 10px  */

    padding: 50px 20px 10px 10px;
    /* top에 50px, right에 20px, bottom에 10px, left에 10px, 시계방향이다 */
    /* 쓰는 방식은 자유롭게 택할것 */

    /* padding-top: 값;
    padding-right: 값;
    padding-bottom: 값;
    padding-left: 값; 라고 풀네이밍으로 사용가능 */
}