@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    color: #000;
}
.box_inner {
    width: 700px;
    margin: 0 auto;
}
.skipnavi {
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.5s;
}
.skipnavi li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    background: #f2f2f2;
}
body {
    background: #f1f1f1;
    color: #333;
}
header {
    position: relative;
    background: #357;
    height: 70px;
    transition: all 0.5s;
}
header:focus,
header:hover{
    padding: 45px 0 0 0;
    height: 120px;
    transition: all 0.5s;
}
header:focus .skipnavi,
header:hover .skipnavi{
    transform: translateY(0%);
    transition: all 0.5s;
}




h1 {
    font-size: 25px;
    color: #cc0;
    padding: 10px;
}
h1:first-letter {
    font-size: 1.5em;
}
h1 strong {
    color: #ffd;
}
h1 em {
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
}
#container {
    position: relative;
}
.gnb {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    padding: 20px;
}
.gnb li {
    padding: 5px 0;
}
.content {
    position: relative;
    left: 200px;
    width: 500px;
}
h2 {
    padding: 10px 20px;
    color: crimson;
}
p {
    padding: 20px;
    text-align: justify;
}
footer {
    background: #aaa;
}