@charset "utf-8";

* {
    /* margin: 0;
    padding: 0; */
    margin: 0;
    padding: 0;
}
li {
    /* list-style-type: none; */
    list-style: none;
}
a {
    /* text-decoration: none;
    color: #444; */
    text-decoration: none;
    color: #444;
}
header {
    /* height: 40px;
    line-height: 40px;
    background: cornflowerblue; */
    height: 40px;
    line-height: 40px;
    background:cornflowerblue;
}
#container {
    width: 600px;
    margin: 0 auto;
    min-height: calc(100vh - 80px);
    /* calc(계산식); 속성값으로 계산된 값을 사용하겠다. */
    /* header/footer의 높이 각각 40px을 
    전체 뷰포트 높이(full)에서 제거하고 
    나머지영역 전체를 #container의 최소 높이로 
    사용하겠다 */
    /* 계산식안의 공백 잘 지킬것 */
}
.lnb {
    background: lightblue;
    display: flex;
    /* flex는 자식요소를 존중 */
}
.lnb li {
    /* display: inline; */
}
.lnb li a {
    display: inline-block;
    padding: 5px 20px;
}
.content_area {
    background: dodgerblue;
}
footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: lightgray;
}

