@charset "utf-8";

.hdd {
    /* width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; */
    /* /* p.148참고 */
    /* overflow: hidden;
    position: absolute;
    left: -9999px; */ 

    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    left: -9999px;
}
.insure {
    /* position: relative;
    max-width: 700px; */

    position: relative;
    max-width: 700px;
}
.insure img {
    width: 100%;
}
.insure a {
    position: absolute;
    display: block;
    background: rgba(0, 255, 0, 0.3);
    text-indent: -9999px;
    overflow: hidden;
}
/* 링크에 텍스트는 리더기가 읽을 수 있게하고, 시각적으론 보이지 않게 처리하는 방법 */
/* 링크위에 링크를 표현하고 싶을 때, position을 활용하여 마크업한다.
   웹표준 상 a안에 a는 넣을 수 없기 때문이다. */
.insure a.car {
    width: 25%;
    height: 29.7%;
    left: 8%;
    top: 64%;
    z-index: 200;
}
.insure a.house {
    width: 28%;
    height: 33.5%;
    left: 60%;
    top: 59%;
    z-index: 210;
}