@charset "utf-8"; 


/* 선택자를 공부할때 미리알아야하는 내용 */

/* and조건 /or조건 */
/* 조건이 두개인데, 둘다 해당하는경우 and조건(붙여쓴다)
하나라도 해당하면 or조건 */
/* or조건은 스크립트에서 사용한다 */

/* w3schools에서 "css selector" 검색하여 천천히 숙지할 것 */

p{ color: blue; }
p{ color: black; }
/* css의 선언은 겹치는 경우 맨 마지막(최신선언)이 유효성을 가진다 */

#ctxt{ color: red; }
/* id="ctxt"인 요소의 글씨색상 */

p#ctxt{ color: green; }
/* 태그가 p이면서 id="ctxt"인 요소의 글씨색상 */
/* and조건으로 define되는경우 선언의 우선순위를 가진다 */

div#ctxt{ color: pink; }
/* 태그가 div이면서 id="ctxt"인 요소의 글씨색상 */

p.txt{ color: orange; }
/* 태그가 p이면서 class="txt"인 요소의 글씨색상 */

.btxt{ color: blueviolet; }
.atxt{ color: greenyellow; }
.ftxt{ font-weight: bold; }

.etxt{
    color: hotpink;
    font-size: 40px;
}

/* class="btxt etxt"로 선언된 경우, 겹치는 속성인 color만 최신으로 갱신되고, 상관없는 신규속성인 font-size는 온전히 적용된다. */

*{ color: red; }
/* * = tag(element) all 을 의미한다 */
/* 우선순위는 낮다, 초반에 reset용으로 사용한다 */

/* section div dl dd *{선언} */
/* 하위객체의 all을 선택할 때에도 *을 사용한다 */
